header ul>li:nth-child(5) a{
	border-bottom:6px solid #A2B83C;
}
.content .word img{
	width: 100%;
	position: relative;
}
.content .word p{
	color: #DADE7D;
	font-size: 2em;
	top: 260px;
	left: 19%;
	position: absolute;
}
.content .img{
	display: inline-block;
	float: left;
	width: 20%;
}
.content .about{
	width: 70%;
	margin-left: 25%;
	/*border: 1px solid red;*/
}
.content .about li{
	padding: 20px 0 0 30px;
}
.content .about a:hover{
	text-decoration: underline;
}
.content .about h3{
	/*font-size: 0.7em;*/
	color:  #858F48;
}
.content .about p{
	padding-top: 2%;
	color: #D9B084;
	font-size: 0.8em;
}
/*本网页特有*/
footer ul>li:nth-child(5) a{
	color: #BECB8C;
	border-bottom: 4px solid #E8E7CB;
}